doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='author' content='Koi Software')
    meta(name='author-webpage' content='https://www.facebook.com/KoiSoftware')

    link(
      rel='icon'
      type='image/x-icon'
      href='../assets/favicon.ico'
    )

    block StylesheetImports

    base(href='./')

    title
      block ProjectTitle

    style='.centered{position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);}.spinner{width:100px;height:100px;-webkit-animation:spin 2s linear infinite;-moz-animation:spin 2s linear infinite;animation:spin 2s linear infinite;}@-moz-keyframes spin{100%{-moz-transform:rotate(-360deg);}}@-webkit-keyframes spin{100%{-webkit-transform:rotate(-360deg);}}@keyframes spin{100%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);}}'

  body
    app-root
      div.centered: img.spinner(
        src='assets/images/koi-spinner.png' width='100' height='100'
      )

    block ScriptImports